<form class="step-one-container" [formGroup]="stepForm">
    <header-step [title]="'Personal info'"
        [description]="'Please provide your name, email, address and phone number.'" />

    <div class="inputs">
        <div class="row-form">
            <div>
                <label for="name">Name</label>
                @if(name?.invalid && (name?.dirty || name?.touched)){
                <span>This field is required</span>
                }
            </div>
            <input formControlName="name" type="text" class="{{ (name?.invalid) && (name?.touched) ? 'error' : '' }}"
                placeholder="e.g. Stephen King" (blur)="onBlurName()">
        </div>

        <div class="row-form">
            <div>
                <label for="email">Email address</label>
                @if (email?.invalid && (email?.dirty || email?.touched)){
                @if (email?.getError('required')) { <span>This field is required</span> }
                @if (email?.getError('pattern')) { <span>Email address is not formatted correctly</span> }
                }
            </div>
            <input #inputEmail formControlName="email" type="text"
                class="{{ (email?.invalid) && (email?.touched) ? 'error' : '' }}" placeholder="e.g. henry@gmail.com"
                (blur)="onBlurEmail()">
        </div>

        <div class="row-form">
            <div>
                <label for="phone">Phone number</label>
                @if (phone?.invalid && (phone?.dirty || phone?.touched)) {
                @if (phone?.getError('required')){ <span>This field is required</span> }
                @if (phone?.getError('pattern')){ <span>Phone number is not formatted correctly</span> }
                }
            </div>
            <input #inputPhone formControlName="phone" type="text"
                class="{{ (phone?.invalid) && (phone?.touched) ? 'error' : '' }}" placeholder="e.g. 954659659"
                (blur)="onBlurPhone()">
        </div>
    </div>
</form>