.container {
    border-radius: 10px;
    height: 600px;
    width: 940px;
    padding: 16px;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: stretch;
}

.multi-step-form {
    padding: 2.5rem 0;
    margin-left: 100px;
    margin-right: 84px;
    flex-grow: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

step-one,
step-two,
step-three,
step-four,
thanks {
    flex-grow: 1;
}

@media screen and (max-width: 930px) {
    .container {
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }

    .multi-step-form {
        padding: 2rem 0 0 0;
        margin: 0;
    }
}

@media screen and (max-width: 530px) {
    .container {
        background-color: var(--magnolia);
        height: 80%;
    }

    .multi-step-form {
        position: relative;
        padding: 2rem 1rem 2rem 1rem;
        top: 80px;
        background-color: var(--white);
        border-radius: 10px;
        z-index: 2;
    }

    side-bar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;

        z-index: 1;
    }
}