<div class="container">
  <side-bar [currentStep]="currentStep" />
  <div class="multi-step-form">
    @if (currentStep == 1) {
    <step-one />
    }

    @if (currentStep == 2) {
    <step-two />
    }

    @if (currentStep == 3) {
    <step-three />
    }

    @if (currentStep == 4) {
    <step-four (onBackStepTwo)="backStepTwo()" />
    }

    @if (currentStep == 5) {
    <thanks />
    }

    @if (currentStep
    <= 4) { <buttons-bar (onNextStep)="nextStep()" (onPreviousStep)="previousStep()" [textButton]="textButton" />
    }
  </div>
</div>