.buttons-bar {
    /* border: 1px solid magenta; */
    display: flex;
    justify-content: flex-end;
}

.buttons-bar .nextButton {
    all: unset;
    padding: 1rem 2rem;
    color: var(--white);
    background-color: var(--marine-blue);
    border-radius: 5px;
    text-align: center;
}

.buttons-bar .nextButton:hover {
    cursor: pointer;
}

.buttons-bar .nextButton.confirm {
    background-color: var(--purplish-blue);
}

.buttons-bar .backButton {
    all: unset;
    padding: 1rem 2rem;
    color: var(--cool-gray);
    background-color: transparent;
    border-radius: 5px;
    font-weight: 500;
    margin-right: auto;
}

.buttons-bar .backButton:hover {
    cursor: pointer;
    color: var(--marine-blue);
}